@{
    Layout = "_Layout";
}
<section class="heathy_section layout_padding" style="background-image: url(/images/Stories-B1.png);">
    <div class="container">

        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="detail-box">
                    <h2 style="color:rgb(37, 34, 51);">
                        HEALTHY MIND, HEALTHY BODY
                    </h2>
                    <p style="color:rgb(37, 34, 51);">
                        Welcome to FIDEL ENTERPRISE! We are a team of dedicated individuals who are passionate about empowering others to unlock their 
                        full potential. Our mission is to provide you with the tools, techniques, and support needed to cultivate a positive and 
                        growth-oriented mindset. We believe that mindset plays a crucial role in personal and professional success, and we are here to 
                        guide you on your journey towards a more fulfilling life. With our gentle and patient approach, we offer a range of resources 
                        including courses, articles, and personalized coaching to help you overcome self-limiting beliefs, develop resilience, and 
                        cultivate a positive outlook on life. Our friendly and supportive community is always here to cheer you on every step of the way. 
                        Join us today and embark on a transformative mindset training experience!
                    </p>

                </div>
            </div>
        </div>

    </div>
</section>



<section class="info_section layout_padding2">
    <div class="container">
        <div class="info_items">
            <a href="">
                <div class="item ">
                    <div class="img-box box-1">
                        <img src="" alt="">
                    </div>
                    <div class="detail-box">
                        <p>
                            Arat Killo Beside Abrehot Library
                        </p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="item ">
                    <div class="img-box box-2">
                        <img src="" alt="">
                    </div>
                    <div class="detail-box">
                        <p>
                            +251114420633  +251114332823
                        </p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="item ">
                    <div class="img-box box-3">
                        <img src="" alt="">
                    </div>
                    <div class="detail-box">
                        <p>
                            hilcoenet@gmail.com
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>




<footer class="container-fluid footer_section">
    <p>
        &copy; 2023 All Rights Reserved. Design by Hilcoe
    </p>
</footer>