@{
	Layout = "_Layout";
}

<h3>All Users</h3>

<table class="table table-condensed table-hover">
	<thead>User ID</thead>
	<thead>User Name</thead>
	@foreach (var u  in (IEnumerable<AppUser>)Model)
	{
		<tr>
			<td>
				@u.UserId
			</td>
			<td>
				@u.UserName
			</td>
		</tr>
	}
</table>
