@{
	Layout = "_Layout";
}
<div id="body">
    <div id="box-log">
        <h1 id="h1-log">FIDEL ENTERPRISE</h1>
        <h2 id="h2-log">Registration</h2>
        <form action="">
            <input id="form" type="text" placeholder="FULL NAME" required>
            <input id="form" type="text" placeholder="USERNAME" required>
            <input id="form" type="password" placeholder="PASSWORD" required>
            <input id="form" type="password" placeholder="CONFIRM PASSWORD" required>
            <button id="btn" class="btn btn-primary" type="submit">REGISTER</button>
        </form>
    </div>
</div>
